
/* Page sections */

body {
    font-family: Open Sans, Helvetica;
    font-size: 14px;
}

#wrapper {
    width: 800px;
    margin: auto;
}

header, section, footer, aside, nav, main, article, figure
{
    display: block;  /* Fix for older browsers without HTML5 semantics */
}

header {
    margin-top: 100px;
    font-weight: bold;
    margin-left: 141px;
}

#dark-header:hover {
    color: #79BD9A;
    -webkit-transition: color 1s linear;
    -moz-transition:    color 1s linear;
    -ms-transition:     color 1s linear;
    -o-transition:      color 1s linear;
    transition:         color 1s linear;
}

#dark-header {
    color: #000;
    -webkit-transition: color 1s linear;
    -moz-transition:    color 1s linear;
    -ms-transition:     color 1s linear;
    -o-transition:      color 1s linear;
    transition:         color 1s linear;
}

#light-header {
    font-weight: lighter;
    font-size: 10px;
}

nav {
    margin-right: 50px;
    text-align: left;
    float: left;
    display: table-cell;
    list-style-type: none;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 41px;
}

#contain-content {
    overflow: auto; /* To make it as tall as its child divs; auto works too */
    padding-top: 12px;
    display: table;
}

#content {
    border-top: 1px solid;
    border-bottom: 1px solid;
    width: 100%;
    display: table-cell;
    vertical-align: top; /* To make text start at top */
    padding-top: 8px;
}

#content pre {
    border: 1px solid #ddd;
    background-color: #eef;
    padding: .3em;
    font-size: 12px;
}

#content p {
    text-align: justify;
}

#end-content {
    border-bottom: 2px dotted;
    height: 56px;
    width: auto;
    position: relative;
    margin-left: 141px;
}

#comments * {
    width: 100%;
    display: table-cell;

}

.post-header {
    display: block;
    clear: both;
}

.post-header h3 {
    display: inline;
}

.post-date {
    float: right;
    display: inline;
}

footer {
    margin-top: 12px;
    font-size: 11px;
    margin-left: 141px;
    height: 140px;
    display: block;
}

/********************************************************************/

/* Etc. */

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #49708A;
}

/* Fade out on hover */
a:hover {
    color: #79BD9A;
    -webkit-transition: color 1s linear;
    -moz-transition:    color 1s linear;
    -ms-transition:     color 1s linear;
    -o-transition:      color 1s linear;
    transition:         color 1s linear;
}

/* Fade in when no longer hovering */
a {
    color: #79BD9A;
    -webkit-transition: color 1s linear;
    -moz-transition:    color 1s linear;
    -ms-transition:     color 1s linear;
    -o-transition:      color 1s linear;
    transition:         color 1s linear;
}

li {
    margin-bottom: 16px;
}

li:last-child {
    margin-bottom: 0px;
}