
<!DOCTYPE html>

<html lang="en">

  <head>

    <meta charset="utf-8">

    <!-- scripts -->

    <script type="text/javascript" src="/js/jquery-1.11.0.min.js">
    </script>

    <script type="text/javascript" src="/js/javascript.js">
    </script>

    <!-- end scripts -->

    <link rel="stylesheet" type="text/css" href="/css/styles.css" media="screen" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    <title>{{ page.title }}</title>

  </head>

  <body>

    <div id="wrapper">

      <header>
	<span id="dark-header"> Stefan Lance </span> 	<span id="light-header">// {{ page.title }}</span>
      </header>

      <div id="contain-content">

	<nav>
	  <li><a href="/">Home</a></li>
	  <li><a href="/about">About</a></li>
	  <li><a href="http://github.com/smlance">Code</a></li>
	  <li><a href="/blog">Blog</a></li>
	  <li><a href="/contact">Contact</a></li>
	</nav>

	<div id="content">
	  {{ content }}
	</div>

      </div> <!-- end contain-content -->

      <!-- <div class="end-content">

      </div> -->

      <footer>

      </footer>

    </div> <!-- end wrapper -->

  </body> <!-- end body -->

</html>